aiogram==2.6.1
aiohttp==3.6.2
appdirs==1.4.3
async-timeout==3.0.1
attrs==19.3.0
Babel==2.8.0
certifi==2019.11.28
chardet==3.0.4
distlib==0.3.0
filelock==3.0.12
idna==2.9
multidict==4.7.5
pyTelegramBotAPI==3.6.7
pytz==2019.3
requests==2.23.0
six==1.14.0
urllib3==1.25.8
virtualenv==20.0.20
yarl==1.4.2
